*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor_principal{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height: 718.75%;
    width: 100vw;
    background-color: black;
}
.contenedor_logo{
    background-position: center;
    background-image: url(./assets/images/Vibrations\ -\ Isologotipo\ B\ Profile.png);  
    background-size: cover;
    height: 115px;
    width: 170px;
    display: flex;
    justify-content: center;
}
.logo1{
    height: 656.25%;
    width: 750%;
}
.contenedor_nav{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 450px;
}
a{
    text-decoration: none;
    color: rgb(253, 253, 255);
}
a:hover{
    transition-duration: 0.50s;
    color: rgb(73, 72, 72);
}
.nav_links{
    padding: 10px 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 15px ;
    margin-left: 20px;
}
.contenedor_redes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 200px;
    }
.logo_ig{
    background-image: url(./assets/images/instagramlogo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px
}
.logo_soundcloud{
    background-image: url(./assets/images/soundcloud.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px
}
.contenedor_fotos{
    display: grid;
    grid-template-columns: repeat(1,4fr);
}
.img1{
    background-repeat: no-repeat;
    background-image: url(./assets/images/nuestros\ eventos.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}
.img2{
    background-image: url(./assets/images/djs.jpg);
    background-size: cover;
    background-position-y: -80px;
    height: 100%;
    width: 100%;
}
.img3{
    background-repeat: no-repeat;
    background-image: url(./assets/images/shop.jpg);
    background-size: cover;
    background-position-y: -120px;
    height: 100%;
    width: 100%;
}
.img4{
    background-repeat: no-repeat;
    background-image: url(./assets/images/corporate.jpg);
    background-size: cover;
    background-position-y: -260px;
    height: 100%;
    width: 100%;
}
.text_unicos{
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 40px;
    color: white;
    text-align: center;
    line-height: 35vw;
    text-shadow: 4px 4px black;
}
.contenedor_publicitario{
    display: none;
    height: 100%;
    width: 100%;
}
.imgpubli{
    background-image: url(./assets/images/fondo\ contenedor\ publicitrario.png);
    background-position: center;
    background-size: cover;
    height: 78px;
    width: 33.33vw;
}

.contenedor_formulario{
    justify-content: center;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1400px;
    width: 100%;
    background-image: url(./assets/images/contenedor\ \ formulario.jpg);
}

form{
    opacity: 60%;
    background-color:rgb(39, 38, 38); ;
    height: 700px;
	width:1200px;
	padding:16px;
	border-radius:10px;
	margin-top: 70px;
    color: white;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"]{
	width:400px;
	padding:1px 10px;
	border-radius:10px;
	background-color: white;
	margin:13px ;
	display:flex;
}

form input[type="submit"]{
	width:100%;
	padding:40px 16px;
	margin-top:20px;
	border:1px solid #000;
	border-radius:10px;
	display:block;
    color: white;
	background-color:black;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:260px;
	border-radius:10px;
	background-color:white;			
	margin-top:20px;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:block
}


@media(min-width:992px){
    .contenedor_nav{
        display: flex;
    }
    .contenedor_nav_mobile{
        display: none;
    }
    .contenedor_fotos{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .contenedor_publicitario{
        display: flex;
    }
    .img1{
        background-position: center;
    }
    .img2{
        background-position: center;
    }
    .img3{
        background-position: center;
    }
    .img4{
        background-position: center;
    }
    .contenedor_formulario{
        height: 890px;
    }
    
}

