.contenedor_fotos{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,4fr);
    
}
.img1:hover{
    transform: scale(1,1.01);
    filter: saturate(50%);
    filter: grayscale(0%);
}
.img2:hover{
    transform: scale(1,1.01);
    filter: saturate(50%);
    filter: grayscale(0%);
}
.img3:hover{
    transform: scale(1,1.01);
    filter: saturate(50%);
    filter: grayscale(0%);
}
.img4:hover{
    transform: scale(1,1.01);
    background-image: linear-gradient(to top);
    filter: saturate(50%);
    filter: grayscale(0%);
}
.img1{
    transition: all 1.3s ease;
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-image: url(../assets/images/nuestros\ eventos.jpg);
    background-size: cover;
    background-position-y: -80px;
    height: 100%;
    width: 100%;
}
.img2{
    transition: all 1.3s ease;
    filter: grayscale(100%);
    background-image: url(../assets/images/djs.jpg);
    background-size: cover;
    background-position-y: -80px;
    height: 100%;
    width: 100%;
}
.img3{
    transition: all 1.3s;
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-image: url(../assets/images/shop.jpg);
    background-size: cover;
    background-position-y: -120px;
    height: 100%;
    width: 100%;
}
.img4{
    transition: all 1.3s;
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-image: url(../assets/images/corporate.jpg);
    background-size: cover;
    background-position-y: -260px;
    height: 100%;
    width: 100%;
}
.text_unicos{
    font-weight: 500px;
    font-size: 40px;
    color: white;
    text-align: center;
    line-height: 35vw;
    text-shadow: 4px 4px black;
}
.contenedor_publicitario{
    display: none;
    height: 100%;
    width: 100%;
}
.imgpubli{
    background-image: url(../assets/images/fondo-contenedor-publicitrario.png);
    background-position: center;
    background-size: cover;
    height: 76px;
    width: 33.33vw;
}



@media(min-width: $bpMobile){
    .contenedor_publicitario{
        display: flex;
    }
    .img1{
        background-position: center;
    }
    .img2{
        background-position: center;
    }
    .img3{
        background-position: center;
    }
    .img4{
        background-position: center;
    }
   
}



    

    
